<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="Costos" connectionString="Data Source=BISHOP-PC\SQLEXPRESS14; Initial Catalog=Costos;user id=sa;password=Secure;Integrated Security=False; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Costos" connectionString="Data Source=LAPTOP-REK0FI70\SQLEXPRESS; Initial Catalog=KetaAutos;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <add name="Costos" connectionString="Server=aba3d5b0-aaf0-4c11-b4c2-a71f017b9fe3.sqlserver.sequelizer.com;Database=dbaba3d5b0aaf04c11b4c2a71f017b9fe3;User ID=mfussvfaqejmutbj;Password=o62adxUGRaDWYXmT66Q5sJNvqiejySJyipAnM8KfzpbRvzkX8KFZdgeLrDS4sJi8;" providerName="System.Data.SqlClient" />
    <!--<add name="Costos" connectionString="Data Source=gb-pr-01.dyndns.org; Initial Catalog=CrmComtext_costos;user id=sa;password=bombom;Integrated Security=False; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <!--<add key="CacheManager" value="redis"/>-->
    <add key="CacheManager" value="" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6" />
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="AngularJS" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(bower_components)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(Scripts)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(tpl)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(Content)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ServiceStack.Factory" path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
    <!-- Descomentar esto si el IIS no tiene el mapeo predefinido. En Windows 10 ya lo trae.
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
    -->
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
    <urlCompression doStaticCompression="false" />
    <caching enabled="false" enableKernelCache="false" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {7626A3E0-5CB9-432B-9687-423DBF57925E}-->