<h3 class="page-title">
    {{ 'Marcas' | translate }} <small>{{marca.codigo}}</small>
</h3>
<div class="page-bar">
    <div ncy-breadcrumb class="page-breadcrumb"></div>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="submit" class="btn btn-primary" ng-disabled="marcaForm.$invalid" data-ng-click="save()">Guardar</button>
        </div>
    </div>
</div>
<ng-form name="marcaForm">
    <div class="row margin-bottom-20">
        <div class="col-md-4">
            <div class="form-group form-md-line-input">
                <input type="text" class="form-control" id="codigo" placeholder="Ingrese un codigo" data-ng-model="marca.codigo" ng-required="true">
                <label for="codigo">Código</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input">
                <input type="text" class="form-control" id="descripcion" placeholder="Ingrese una descripcion" data-ng-model="marca.descripcion" ng-required="true">
                <label for="descripcion">Descripción</label>
            </div>
        </div>
    </div>
    
</ng-form>