<h3 class="page-title">
    {{ 'Usuario' | translate }} <small>{{user.firstName}} {{user.lastName}}</small>
</h3>
<div class="page-bar">
    <div ncy-breadcrumb class="page-breadcrumb"></div>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary" data-ng-click="save()">Guardar</button>
        </div>
    </div>
</div>
<form role="form" name="tenantForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input">
                <input type="text" class="form-control" id="firstNamee" data-ng-model="user.firstName">
                <label for="firstNamee">Nombre</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input">
                <input type="text" class="form-control" id="lastName" data-ng-model="user.lastName">
                <label for="lastName">Apellido</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input">
                <input type="text" class="form-control" id="userName" data-ng-model="user.userName">
                <label for="userName">Usuario</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input">
                <input type="text" class="form-control" id="email" data-ng-model="user.email">
                <label for="email">Email</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input">
                <input type="text" class="form-control" id="userName" data-ng-model="user.userName">
                <label for="userName">Usuario</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input">
                <input type="text" class="form-control" id="pass" data-ng-model="user.password">
                <label for="pass">Clave</label>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-20">
        <div class="col-md-4">
            <div class="md-checkbox">
                <input type="checkbox" id="admin" data-ng-model="user.admin">
                <label for="admin">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    Es Administrador?
                </label>
            </div>
        </div>
    </div>
</form>